<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Ainova</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#13468C">
  <meta name="msapplication-navbutton-color" content="#13468C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>

<body>
  <main class="main">
    <div class="nf">
      <div class="container">
        <div class="nf-block">
          <img src="../../images/404.png" alt="">
          <span>UNFORTUNATELY PAGE NOT FOUND</span>
          <p>If you would like to return to the home page, please click here.</p>
          <a href="/" class="btn">back to home</a>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
