<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Ainova</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#13468C">
  <meta name="msapplication-navbutton-color" content="#13468C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="container">
      <div class="article">
        <h1>Gesunde lifestyle mit stil: Ihr wollt gesund leben und fitter werden? Das könnt ihr schaffen! Mit einem festen Willen und unseren Tipps erreicht ihr euer Ziel.</h1>
        <span class="artile-date">02. November | 17:00 - 18:00 CET</span>
        <div class="article-pic">
          <img src="../../images/article.jpg" alt="">
        </div>
        <div class="article-text">
          <h2>Es ist schwierig, einen gesunden Lebensstil</h2>
          <p>So geht's: Nehmt <a href="">euch</a> zwei, drei Tipps aus der Liste, die ihr kontinuierlich verfolgt - als kleines Etappenziel sozusagen. Sobald ihr die Tipps in euren Alltag fest integriert habt, könnt ihr euch einen neuen Tipp vornehmen, bis euer Endziel erreicht ist. Nicht vergessen: Habt Spaß dabei. Auf geht's!</p>
          <p>1. Regelmäßige Gesundheits-Check-ups
            Wir können eine Menge unternehmen, um lange gesund und fit zu sein. Regelmäßige Gesundheits-Check-ups beim Arzt gehören dazu. Sie geben Aufschluss über den Gesundheitszustand unseres Herz-Kreislauf-Systems und unserer Nieren. Außerdem prüft der Arzt, ob eine Zuckerkrankheit vorliegt. Je nach Alter können diese Basis-Untersuchungen mit Krebsvorsorgeuntersuchungen gekoppelt sein. Ab einem Alter von 35 Jahren übernimmt die Krankenkasse für gewöhnlich alle zwei Jahre die Kosten eines solchen Basis-Check-up.</p>
          <p>Es ist schwierig, einen gesunden Lebensstil zu führen, wenn ihr nicht wisst, was euch erfüllt. Deshalb findet es heraus! Das kann ein neues Fitnessprogramm sein oder etwas Kreatives. Es gibt keine Grenzen, sondern nur eine Konsequenz: Wenn ihr macht, was ihr liebt, seid ihr in eurem Element, fühlt euch wohl und glücklich.</p>
          <p>Mit dem Versprechen an euch selbst, niemals aufzugeben, erreicht ihr alles, was ihr euch vorgenommen habt. Eine kleine Übung dazu: Setzt oder legt euch an euren Lieblingsplatz in der Wohnung, im Park - wo immer ihr euch wohlfühlt. Schließt die Augen und entspannt euch. Stellt euch euer zukünftiges Selbst vor, was ihr dabei fühlt, wie ihr ausseht, vielleicht auch wo ihr dann seid und was ihr macht. Dieses Bild, dieses Gefühl - schaut es euch genau an und speichert es in euch ab. Dann kommt wieder zu euch, öffnet die Augen, spürt noch einmal nach. Jedes Mal, wenn ihr auf dem Weg zu eurem Ziel zweifelt, vielleicht sogar aufgeben wollt, erinnert euch an das Bild und das Gefühl dazu. Und weiter geht's!</p>
          <p>Dosensuppe, Fast Food oder Abgepacktes - all diese Lebensmittel sollten raus aus euren Vorratsschränken. Sie sind industriell behandelt, oft mit chemischen Stoffen versetzt. Greift lieber zu frischen Produkten, die pure Energie und wertvolle Nährstoffe liefern. Denn: Du bist, was du isst!</p>
          <ul>
            <li>dgfdgdf</li>
            <li>dgfdgdf</li>
            <li>dgfdgdf</li>
            <li>dgfdgdf</li>
          </ul>
          <ol>
            <li>dgfdgdf</li>
            <li>dgfdgdf</li>
            <li>dgfdgdf</li>
            <li>dgfdgdf</li>
          </ol>
        </div>
      </div>
    </div>


  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
