<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Ainova</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#13468C">
  <meta name="msapplication-navbutton-color" content="#13468C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main partner">
    <div class="section main-section partner-main">
      <a class="partner-main__link btn" href="javascript:void(0)">Partner werden</a>
    </div>
    <div class="section werden">
      <div class="container">
        <h1 class="werden__title">Partner werden</h1>
        <div class="werden__text-wrapper">
          <p class="werden__text werden-txt">Lassen Sie sich für ein gesünderes und schöneres Leben belohnen. Sie sind es, die Ainovas zu etwas Besonderem machen, und wir möchten etwas zurückgeben - mit kostenlosen Produkten, Rabatten und vielen weiteren Vorteilen. Dies ist ein einzigartiger Club, der Ihnen zum ersten Mal die Kontrolle über Ihr gesundes Leben gibt - und Sie dafür belohnt, dass Sie sich für Sie entschieden haben Lassen Sie sich für ein gesünderes und schöneres Leben belohnen. Sie sind es, die Ainovas zu etwas Besonderem machen, und wir möchten etwas zurückgeben - mit kostenlosen Produkten, Rabatten und vielen weiteren Vorteilen. Dies ist ein einzigartiger Club, der Ihnen zum ersten Mal die Kontrolle über Ihr gesundes Leben gibt - und Sie dafür belohnt, dass Sie sich für Sie entschieden haben.
          </p>
          <span class="werden__text-more">mehr lesen</span>
        </div>
        <h2 class="werden__title wie">Wie Partner werden?</h2>
      </div>
      <div class="werden__wrap">
        <div class="container">
          <h2 class="werden__title earst">Erst Mitgelid werden</h2>
          <p class="werden__text earst">Mehr als 62 Arten von Produkten</p>
          <a href="javascript:void(0)" class="werden__link btn">Club-mitgleid werden</a>
        </div>
      </div>
    </div>
    <div class="section video">
      <div class="container">
        <div class="video__inner">
          <svg width="121" height="120" viewBox="0 0 121 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M60.5 119.167C27.15 119.167 0.0833728 92.66 0.0833714 60C0.0833699 27.34 27.15 0.833342 60.5 0.833341C93.85 0.833339 120.917 27.34 120.917 60C120.917 92.66 93.85 119.167 60.5 119.167ZM59.6542 78.5784L76.5104 62.0709C77.6584 60.9467 77.6584 59.0534 76.45 57.87L59.5938 41.3625C57.7209 39.4692 54.4584 40.7708 54.4584 43.4333L54.4584 76.5075C54.4584 79.17 57.7209 80.4717 59.6542 78.5784Z"
              fill="#13468C" />
          </svg>
          <img src="../../images/parner-bg-video.jpg" alt="">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KudGpbfWYrI" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
    </div>
    <div class="section sie">
      <h2 class="sie__title">Sie werden?</h2>
      <div class="container">
        <ul class="sie__list">
          <li class="sie__item">
            <div class="sie-item">
              <div class="sie-item__icon icon1"></div>
              <h3 class="sie-item__title">Geld verdienen</h3>
              <div class="sie-item__inner">
                <p class="sie-item__text">Schließen Sie sich uns an und beginnen Sie noch heute mit dem Verkauf von
                  Produkten und verdienen Sie zusätzliches Geld.</p>
                <p class="sie-item__text bottom sie-btn__more">mehr lesen</p>
              </div>
            </div>
          </li>
          <li class="sie__item">
            <div class="sie-item">
              <div class="sie-item__icon icon2"></div>
              <h3 class="sie-item__title">Ihr eigener<br>
                Chef sein</h3>
              <div class="sie-item__inner">
                <p class="sie-item__text">Arbeiten Sie, wo und wann Sie wollen, und genießen Sie mehr Zeit für die
                  Dinge,
                  die Sie lieben.</p>
                <p class="sie-item__text bottom sie-btn__more">mehr lesen</p>
              </div>
            </div>
          </li>
          <li class="sie__item">
            <div class="sie-item">
              <div class="sie-item__icon icon3"></div>
              <h3 class="sie-item__title">Teil von etwas Größerem</h3>
              <div class="sie-item__inner">
                <p class="sie-item__text">Exklusiver Zugang zu unseren Veranstaltungen, um mehr über die Welt von Ainova zu erfahren und neue Kontakte zu knüpfen Kontakte .</p>
                <p class="sie-item__text bottom sie-btn__more">mehr lesen</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="mehr">
      <div class="container">
        <ul class="mehr__list">
          <li class="mehr__item">
            <div class="mehr-item">
              <div class="mehr-item__img">
                <img src="../../images/sie-item-bg-1.jpg" alt="">
              </div>
              <div class="mehr-item__about">
                <span class="mehr-item__num">62+</span>
                <p class="mehr-item__text">Mehr als 62 Arten von Produkten</p>
              </div>
            </div>
          </li>
          <li class="mehr__item">
            <div class="mehr-item">
              <div class="mehr-item__img">
                <img src="../../images/sie-item-bg-2.jpg" alt="">
              </div>
              <div class="mehr-item__about">
                <span class="mehr-item__num">2702+</span>
                <p class="mehr-item__text">mehr als 2702 Kunden</p>
              </div>
            </div>
          </li>
          <li class="mehr__item">
            <div class="mehr-item">
              <div class="mehr-item__img">
                <img src="../../images/sie-item-bg-3.jpg" alt="">
              </div>
              <div class="mehr-item__about">
                <span class="mehr-item__num">31+</span>
                <p class="mehr-item__text">In mehr als 31 Ländern</p>
              </div>
            </div>
          </li>
          <li class="mehr__item">
            <div class="mehr-item">
              <div class="mehr-item__img">
                <img src="../../images/sie-item-bg-4.jpg" alt="">
              </div>
              <div class="mehr-item__about">
                <span class="mehr-item__num">2544+</span>
                <p class="mehr-item__text">Mehr als 2544 Partner</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="section faq ">
      <div class="container">
        <h2 class="faq__title">Häufig gestellte Fragen.</h2>
        <ul class="faq__list acc">
          <li class="faq-item">
            <div class="faq-item__title acc__title">Was macht ein Markenpartner?</div>
            <div class="faq-item__content acc__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Excepturi, animi!
            </div>
          </li>
          <li class="faq-item">
            <div class="faq-item__title acc__title">Wie kann ich als Markenpartner beitreten?</div>
            <div class="faq-item__content acc__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
              aliquam
              doloremque explicabo quia ab voluptas.</div>
          </li>
          <li class="faq-item">
            <div class="faq-item__title acc__title">Wie fange ich an?</div>
            <div class="faq-item__content acc__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
              ipsum dolor
              sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
          </li>
          <li class="faq-item">
            <div class="faq-item__title acc__title">Wie kann ich Geld verdienen?</div>
            <div class="faq-item__content acc__content">Nein.</div>
          </li>
          <li class="faq-item">
            <div class="faq-item__title acc__title">Gibt es eine Beitrittsgebühr?</div>
            <div class="faq-item__content acc__content">Nein.</div>
          </li>
        </ul>

      </div>
    </div>

  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
