<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Only Good</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#13468C">
  <meta name="msapplication-navbutton-color" content="#13468C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main blog">
    <h1>Blog</h1>
    <p>Gesundheit und Geschäft und Lebensstill</p>
    <div class="container">
      <ul class="blog__list">
        <li class="blog__item">
          <div class="blog-item">
            <div class="blog-item__info">
              <div class="blog-item__info-date">
                <span>Mi</span>
                <span>02</span>
              </div>
              <div class="blog-item__info-about">
                <div><a href="javascript:void(0)">02. November</a><a href="javascript:void(0)"> 17:00 - 18:00 CET</a>
                </div>
                <h2><a href="javascript:void(0)"> Gesunde lifestyle mit stil:<br>
                    Ihr wollt gesund leben und fitter werden? Das könnt ihr schaffen! Mit einem festen Willen und
                    unseren
                    Tipps erreicht ihr
                    euer Ziel.</a></h2>
                <p>So geht's: Nehmt euch zwei, drei Tipps aus der Liste, die ihr kontinuierlich verfolgt - als kleines
                  Etappenziel
                  sozusagen. Sobald ihr die Tipps in euren Alltag fest integriert habt, könnt ihr euch einen neuen Tipp
                  vornehmen, bis
                  euer Endziel erreicht ist. Nicht vergessen: Habt Spaß dabei. Auf geht's!</p>
              </div>


            </div>
            <div class="blog-item__img">
              <a href="javascript:void(0)">
                <img src="../../images/blog-01.jpg" alt="">
              </a>
            </div>

          </div>
        </li>
        <li class="blog__item">
          <div class="blog-item">
            <div class="blog-item__info">
              <div class="blog-item__info-date">
                <span>Di</span>
                <span>26</span>
              </div>
              <div class="blog-item__info-about">
                <div><a href="javascript:void(0)">26. Oktober</a><a href="javascript:void(0)">12:00 - 1400 CET</a></div>
                <h2><a href="javascript:void(0)">ARBEITEN VON ZUHAUSE VORTEILE ABER AUCH NACHTEILE</a></h2>
                <p>Arbeiten von zuhause hat nur Vorteile und ist perfekt um Familie und Job unter einen Hut zu bekommen,
                  oder?<br>
                  Die Arbeitszeit beginnt nachdem die Kleinen in der Kita sind, zwischendurch mal fix eine Waschmaschine
                  anschmeißen, zum
                  Mittag kochen statt Kantinenessen und den Abwasch gleich statt erst am Abend erledigen.</p>
              </div>


            </div>
            <div class="blog-item__img">
              <a href="javascript:void(0)">
                <img src="../../images/blog-02.jpg" alt="">
              </a>
            </div>

          </div>
        </li>
        <li class="blog__item">
          <div class="blog-item">
            <div class="blog-item__info">
              <div class="blog-item__info-date">
                <span>Mi</span>
                <span>02</span>
              </div>
              <div class="blog-item__info-about">
                <div><a href="javascript:void(0)">02. November</a><a href="javascript:void(0)">17:00 - 18:00 CET</a>
                </div>
                <h2><a href="javascript:void(0)">Health Trends - Gesundes Leben in der Zukunft
                    Die neueste Studie des Zukunftsinstituts zeigt, warum die Lebenserwartung der Menschen
                    kontinuierlich steigt.</a></h2>
                <p>Der Megatrend Gesundheit hat sich fest in der Gesellschaft etabliert. Global ist der Wunsch nach
                  Gesundheit oft das
                  oberste, jedenfalls ein erklärtes Ziel - politisch, ökonomisch wie privat. “Der Megatrend ist in
                  sämtliche
                  Lebensbereiche vorgedrungen. Er ist mittlerweile fest im Bewusstsein der Menschen und Organisationen
                  verankert.
                  Gesundheit ist zum Lebenssinn und Lebensziel geworden”, betont Harry Gatterer, Geschäftsführer des
                  Zukunftsinstituts.</p>
              </div>


            </div>
            <div class="blog-item__img">
              <a href="javascript:void(0)">
                <img src="../../images/blog-02.jpg" alt="">
              </a>
            </div>

          </div>
        </li>

      </ul>
    </div>
    <a class="blog__more" href="javascript:void(0)"><span>mehr lesen</span>
      <svg width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.26823 2.01041C0.26823 1.575 0.428642 1.13958 0.772392 0.795831C1.43698 0.131248 2.53698 0.131248 3.20156 0.795832L18.1432 15.7375C19.2432 16.8375 21.0307 16.8375 22.1307 15.7375L37.0724 0.795833C37.737 0.13125 38.837 0.13125 39.5016 0.795833C40.1661 1.46042 40.1661 2.56042 39.5016 3.225L24.5599 18.1667C23.3911 19.3354 21.8099 20 20.137 20C18.4641 20 16.8828 19.3583 15.7141 18.1667L0.772392 3.225C0.451559 2.88125 0.26823 2.44583 0.26823 2.01041Z"
          fill="#13468C" />
      </svg>
    </a>
  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
