<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Only Good</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#13468C">
  <meta name="msapplication-navbutton-color" content="#13468C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main discover">
    <div class="section main-section discover-main">
    </div>
    <div class="section welt">
      <div class="container">
        <h1 class="welt__title">Ainova Welt</h1>
        <p class="welt__text top">Das Unternehmen Ainova Just Fit vertreibt erfolgreich hochwertige,
          gesundheitsfördernde
          Produkte.</p>
        <div class="welt__wrap top">
          <div class="welt__text">
            <p>Erfolg bedeutet nicht nur finanzielle Unabhängigkeit. Erfolg ist viel mehr! Über unsWer sich erfolgreich
              fühlt, bekommt
              dieses Gefühl vor allem durch Geben. Wir geben Produkte weiter, die im Bereich der Gesundheit helfen. Aber
              das kann
              nicht alles sein.</p>
            <p>Wir wollen auch unser Wissen weitergeben, damit immer mehr Menschen nicht nur eine bessere Lebensqualität
              haben, sondern
              Sie auch kompetent mit Ihrer Gesundheit umgehen und darüber sprechen können. Denn Wissen ist eines der
              wichtigsten
              Güter, das wir an die jüngeren Generationen weitergeben können. Und damit der Wissenstransfer auch
              wirklich
              funktioniert, haben wir eine Ainova-Akademie ins Leben gerufen.</p>
          </div>
          <div class="welt__img">
            <img src="../../images/discover-01.png" alt="">
          </div>

        </div>
        <div class="welt__wrap bottom">
          <div class="welt__text">
            <p>Erfolg bedeutet nicht nur finanzielle Unabhängigkeit. Erfolg ist viel mehr! Über unsWer sich erfolgreich
              fühlt, bekommt
              dieses Gefühl vor allem durch Geben. Wir geben Produkte weiter, die im Bereich der Gesundheit helfen. Aber
              das kann
              nicht alles sein.
            </p>
          </div>
          <div class="welt__img">
            <img src="../../images/discover-02.png" alt="">
          </div>

        </div>
      </div>



    </div>

    <div class="section produkts">
      <h1 class="produkts__title">Ainova Welt</h1>
      <p class="produkts__text">Das Unternehmen Ainova Just Fit vertreibt erfolgreich hochwertige,
        gesundheitsfördernde
        Produkte.</p>

      <div class="produkts__slider produkts-slider slick-slider" data-slick='{ "slidesToShow": 4, "arrows": true, "dots": false, "infinite": false, "autoplay": false, "responsive":[
                 {"breakpoint":1493,"settings":{"slidesToShow": 3}}, 
                 {"breakpoint":1000,"settings":{"slidesToShow": 2}}, 
                 {"breakpoint":680,"settings":{"slidesToShow": 1}}]}'>
        <div class="produkts-slider__slide produkts-slide">
          <div class="produkts-slide__img">
            <img src="../../images/world-01.png" alt="">
          </div>
          <div class="produkts-slide__about">
            <h3 class="produkts-slide__title">Schmuck</h3>
            <p class="produkts-slide__text">Ein kurzer Text über den Schmuck</p>
          </div>
        </div>

        <div class="produkts-slider__slide produkts-slide">
          <div class="produkts-slide__img">
            <img src="../../images/world-01.png" alt="">
          </div>
          <div class="produkts-slide__about">
            <h3 class="produkts-slide__title">Cosmetics</h3>
            <p class="produkts-slide__text">Ein kurzer Text über den cosmetics</p>
          </div>
        </div>

        <div class="produkts-slider__slide produkts-slide">
          <div class="produkts-slide__img">
            <img src="../../images/world-01.png" alt="">
          </div>
          <div class="produkts-slide__about">
            <h3 class="produkts-slide__title">Clean</h3>
            <p class="produkts-slide__text">Ein kurzer Text über den Schmuck</p>
          </div>
        </div>

        <div class="produkts-slider__slide produkts-slide">
          <div class="produkts-slide__img">
            <img src="../../images/world-01.png" alt="">
          </div>
          <div class="produkts-slide__about">
            <h3 class="produkts-slide__title">Schmuck</h3>
            <p class="produkts-slide__text">Ein kurzer Text über den<br>
              clean</p>
          </div>
        </div>

        <div class="produkts-slider__slide produkts-slide">
          <div class="produkts-slide__img">
            <img src="../../images/world-01.png" alt="">
          </div>
          <div class="produkts-slide__about">
            <h3 class="produkts-slide__title">Brillenpflege</h3>
            <p class="produkts-slide__text">Ein kurzer Text über den Brillenpflege</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section gruppen">

      <h1 class="gruppen__title">Ainova Gruppen</h1>
      <p class="gruppen__text">Das Unternehmen Ainova Just Fit vertreibt erfolgreich hochwertige, gesundheitsfördernde
        Produkte.</p>
      <div class="container">
        <ul class="gruppen__list">
          <li class="gruppen__item gruppen-item">
            <div class="gruppen-item__img">
              <!-- <img src="" alt=""> -->
            </div>
            <div class="gruppen-item__about">
              <h3 class="gruppen-item__title">Ainova Club</h3>
              <p class="gruppen-item__text">Ein kurzer Text über den<br>
                clean</p>
            </div>
          </li>
          <li class="gruppen__item gruppen-item">
            <div class="gruppen-item__img">
              <!-- <img src="" alt=""> -->
            </div>
            <div class="gruppen-item__about">
              <h3 class="gruppen-item__title">Kinder & Jugendstiftung</h3>
              <p class="gruppen-item__text">Ein kurzer Text über den Kinder & Jungendstifung</p>
            </div>
          </li>
          <li class="gruppen__item gruppen-item">
            <div class="gruppen-item__img">
              <!-- <img src="" alt=""> -->
            </div>
            <div class="gruppen-item__about">
              <h3 class="gruppen-item__title">Arteso Akademie</h3>
              <p class="gruppen-item__text">Ein kurzer Text über den Arteso Akademie and its advantages</p>
            </div>
          </li>
          <li class="gruppen__item gruppen-item">
            <div class="gruppen-item__img">
              <!-- <img src="" alt=""> -->
            </div>
            <div class="gruppen-item__about">
              <h3 class="gruppen-item__title">Ainova Mobilfunk</h3>
              <p class="gruppen-item__text">Ein kurzer Text über den Ainova Mobilfunk</p>
            </div>
          </li>
          <li class="gruppen__item gruppen-item">
            <div class="gruppen-item__img">
              <!-- <img src="" alt=""> -->
            </div>
            <div class="gruppen-item__about">
              <h3 class="gruppen-item__title">Delphin media Verlag</h3>
              <p class="gruppen-item__text">Ein kurzer Text über den group and its advantages</p>
            </div>
          </li>
        </ul>

      </div>
    </div>

  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
