<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Ainova</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#13468C">
  <meta name="msapplication-navbutton-color" content="#13468C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main events">
    <h1 class="events__title">Events</h1>
    <p class="events__text">Gesundheit und Geschäft und Lebensstill</p>
    <div class="container">
      <ul class="events__list">
        <li class="events__item">
          <a class="events-item" href="javascript:void(0)">
            <div class="events-item__img">
              <img src="../../images/events-01.jpg" alt="">
              <div class="events-item__img-text">
                <h3>AINOVA Starterseminar mit René Seltmann</h3>
              </div>

            </div>

            <div class="events-item__about">
              <p class="events-item__about-item location">Theatinerstraße 14 München</p>
              <p class="events-item__about-item date">23.10.2021 at 10.30 am</p>
              <p class="events-item__about-item price">Teilnahmegebühr: 50 €</p>
            </div>

          </a>
        </li>

        <li class="events__item">
          <a class="events-item" href="javascript:void(0)">
            <div class="events-item__img">
              <img src="../../images/events-02.jpg" alt="">
              <div class="events-item__img-text">
                <h3>AINOVA Starterseminar mit René Seltmann</h3>
              </div>
            </div>
            <div class="events-item__about">
              <p class="events-item__about-item location">Theatinerstraße 14 München</p>
              <p class="events-item__about-item date">23.10.2021 at 10.30 am</p>
              <p class="events-item__about-item price">Teilnahmegebühr: 50 €</p>
            </div>
          </a>

        </li>

        <li class="events__item">
          <a class="events-item" href="javascript:void(0)">
            <div class="events-item__img">
              <img src="../../images/events-03.jpg" alt="">
              <div class="events-item__img-text">
                <h3>Geschäft und Lebensstill</h3>
              </div>
            </div>
            <div class="events-item__about">
              <p class="events-item__about-item location">Theatinerstraße 14 München</p>
              <p class="events-item__about-item date">23.10.2021 at 10.30 am</p>
              <p class="events-item__about-item price">Teilnahmegebühr: 50 €</p>
            </div>
          </a>
        </li>

        <li class="events__item">
          <a class="events-item" href="javascript:void(0)">
            <div class="events-item__img">
              <img src="../../images/events-04.jpg" alt="">
              <div class="events-item__img-text">
                <h3>Gesundheit Seminar</h3>
              </div>
            </div>
            <div class="events-item__about">
              <p class="events-item__about-item location">Theatinerstraße 14 München</p>
              <p class="events-item__about-item date">23.10.2021 at 10.30 am</p>
              <p class="events-item__about-item price">Teilnahmegebühr: 50 €</p>
            </div>
          </a>
        </li>

      </ul>
    </div>


  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
