<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Ainova</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#13468C">
  <meta name="msapplication-navbutton-color" content="#13468C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>

<body>
  ${require('../parts/header.html')}
  <main class="main">
    <div class="impressum">
      <div class="container">
        <div class="impressum-main">
          <h1>Impressum</h1>
          <div class="impressum-info">
            <div>
              <strong>Telefon</strong>
              <span>0375 / 7921 9090</span>
            </div>
            <div>
              <strong>E-mail</strong>
              <span>ainova@ainova.de</span>
            </div>
            <div>
              <strong>Registergericht</strong>
              <span>Amtsgericht Chemnitz</span>
            </div>
            <div>
              <strong>Registernummer</strong>
              <span>HRB 32705</span>
            </div>
            <div>
              <strong>Geschäftsführer: </strong>
              <span>Hans D. Eich, ppa. René Seltmann</span>
            </div>
            <div>
              <strong>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz</strong>
              <span>DE326134214</span>
            </div>
            <div>Plattform der EU-Kommission zur Online-Streitbeilegung: https://ec.europa.eu/odr</div>
            <div>Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nicht verpflichtet, hierzu jedoch grundsätzlich bereit.</div>
            <div>
              Mitglied der Initiative „Fairness im Handel“.<br>
              Nähere Informationen: https://www.fairness-im-handel.de
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
