<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Only Good</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#13468C">
    <meta name="msapplication-navbutton-color" content="#13468C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section main-section">
        <img src="../../images/main-bg.jpg" alt="">
        <div class="container">
            <div class="main-wrap">
                <div class="main-info">
                    <span class="main-title">Entdecken Sie Ainovas exklusive Gesundheitspflege Produkte</span>
                    <p class="main-txt">Informieren Sie sich über die verschiedenen Wohlfühldrodukte von Ainova, die Ihnen zu mehr Lebensqualität verhelfen können.</p>
                    <a href="javascript:void(0)" class="btn main-btn">Einkaufswelt</a>
                </div>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

<div class="overlay"></div>
<div class="mfp-hide"></div>

</body>
</html>