<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Only Good</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#13468C">
  <meta name="msapplication-navbutton-color" content="#13468C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main member">
    <div class="section main-section member-main">
      <a class="member-main__link btn" href="javascript:void(0)">Club-mitgleid werden</a>
    </div>
    <div class="section werden">
      <div class="container">
        <h1 class="werden__title">Club-Mitglied werden</h1>
        <p class="werden__text">Lassen Sie sich für ein gesünderes und schöneres Leben belohnen. Sie sind es, die
          Ainovas zu etwas Besonderem machen,
          und wir möchten etwas zurückgeben - mit kostenlosen Produkten, Rabatten und vielen weiteren Vorteilen. Dies
          ist ein
          einzigartiger Club, der Ihnen zum ersten Mal die Kontrolle über Ihr gesundes Leben gibt - und Sie dafür
          belohnt, dass
          Sie sich für Sie entschieden haben.
        </p>
        <ul class="advantegs">
          <li class="advantegs__item">
            <div class="advantegs-item exclusive">
              <h3 class="advantegs-item__title">Kostenlose Lieferung</h3>
              <p class="advantegs-item__text">Zugang zu unseren exklusiven Produkten.</p>
            </div>
          </li>
          <li class="advantegs__item">
            <div class="advantegs-item delivery">
              <h3 class="advantegs-item__title">Exklusive Produkte</h3>
              <p class="advantegs-item__text">Keine Einschränkung für Ihre Bestellungen, wenn es um die kostenlose und
                schnelle Lieferung geht.</p>
            </div>
          </li>
          <li class="advantegs__item">
            <div class="advantegs-item discounts">
              <h3 class="advantegs-item__title">Exklusive Rabatte</h3>
              <p class="advantegs-item__text">Zugang zu unseren exklusiven Rabatten und Angeboten. Sie werden die Ersten
                sein, die es erfahren.</p>
            </div>
          </li>
          <li class="advantegs__item">
            <div class="advantegs-item ticket">
              <h3 class="advantegs-item__title">Ticket für Veranstaltungen</h3>
              <p class="advantegs-item__text">Exklusiver Zugang zu unseren Veranstaltungen, um mehr über die Welt von
                Ainova zu erfahren.</p>
            </div>
          </li>

        </ul>
      </div>
    </div>




    <div class="section faq">
      <div class="container">
        <h2 class="faq__title">Häufig gestellte Fragen.</h2>
        <ul class="faq__list acc">
          <li class="faq-item">
            <div class="faq-item__title acc__title">Was macht ein Markenpartner?</div>
            <div class="faq-item__content acc__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Excepturi, animi!
            </div>
          </li>
          <li class="faq-item">
            <div class="faq-item__title acc__title">Wie kann ich als Markenpartner beitreten?</div>
            <div class="faq-item__content acc__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
              aliquam
              doloremque explicabo quia ab voluptas.</div>
          </li>
          <li class="faq-item">
            <div class="faq-item__title acc__title">Wie fange ich an?</div>
            <div class="faq-item__content acc__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
              ipsum dolor
              sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
          </li>
          <li class="faq-item">
            <div class="faq-item__title acc__title">Wie kann ich Geld verdienen?</div>
            <div class="faq-item__content acc__content">Nein.</div>
          </li>
          <li class="faq-item">
            <div class="faq-item__title acc__title">Gibt es eine Beitrittsgebühr?</div>
            <div class="faq-item__content acc__content">Nein.</div>
          </li>
        </ul>

      </div>
    </div>

  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
