.main-section{
  position: relative;
  min-height: 900px;
  >img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container{
    padding-top: 122px;
    position: relative;
    z-index: 1;
  }
}

.main-wrap{
  padding: 140px 0;
  display: flex;
  align-items: center;
}

.main-info{
  max-width: 590px;
}

.main-title{
  font-family: $title;
  display: block;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}

.main-txt{
  max-width: 465px;
  font-size: 18px;
  line-height: 163.15%;
  margin-bottom: 36px;
}

.main-btn{
  width: 187px;
}