/*
.world-section{
  padding: 75px 0 35px;
  overflow-x: hidden;
  @include bp(md){
    padding-top: 45px;
  }
}

.world-wrapper{
  display: flex;
  align-items: center;
  @include bp(md){
    flex-direction: column;
    align-items: flex-start;
  }
}

.world-info{
  width: 440px;
  flex: 1 0 auto;
  @include bp(md){
    max-width: 100%;
  }
  .btn{
    width: 187px;
  }
}

.world-title{
  font-family: $title;
  display: block;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 18px;
  @include bp(md){
    font-size: 42px;
    line-height: 62px;
  }
  @include bp(xs){
    font-size: 28px;
    line-height: 140%;
  }
}

.world-txt{
  max-width: 400px;
  font-size: 18px;
  line-height: 163.15%;
  margin-bottom: 36px;
}

.world-slider__wrapper{
  width: 1340px;
  flex: 1 0 auto;
  @include bp(md){
    width: 100%;
    flex: auto;
  }
}

.world-slider{
  @include bp(md){
    margin: 0 -25px;
  }
  .slick-list{
    padding: 45px 10px;
  }
  .slick-track{
    margin: 0;
  }
  .slick-slide{
    padding: 0 15px;
    &.slick-active{
      .slide{
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
      }
    }
  }
  .slide{
    width: 100%;
    flex-direction: column;
    border-radius: 8px;
    display: flex !important;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
}

.world-slider__pic{
  width: 100%;
  height: 300px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.world-slider__info{
  background-color: $beige;
  color: $blue;
  padding: 43px 15px;
  text-align: center;
  span{
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 30px;
    font-family: $title;
  }
  p{
    margin-bottom: 0;
    font-size: 18px;
    line-height: 163.15%;
  }
}

.world-nav{
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  .custom-nav{
    margin-right: -11px;
  }
}

.custom-nav{
  display: flex;
  justify-content: space-between;
  width: 122px;
}

.slider-arrow{
  display: flex;
  cursor: pointer;
  svg{
    path{
      fill: $gold;
    }
  }
  &:hover{
    svg{
      path{
        fill: $blue;
      }
    }
  }
}*/


.section-produkten{
  position: relative;
  min-height: 614px;
  margin-bottom: 120px;
  padding: 60px 0;
  display: flex;
  align-items: center;
  @include bp(md) {
    min-height: unset;
  }
  @include bp(xs) {
    margin-bottom: 60px;
  }
  >img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include bp(sm) {
      opacity: .5;
    }
  }
  .container{
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }
}

.produkten-info{
  width: 445px;
  max-width: 100%;
}

.produkten-title{
  font-family: $title;
  display: block;
  font-size: 48px;
  line-height: 65px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
  @include bp(md){
    font-size: 42px;
    line-height: 62px;
  }
  @include bp(xs){
    font-size: 28px;
    line-height: 140%;
  }
}

.produkten-txt{
  font-size: 18px;
  line-height: 163.15%;
  margin-bottom: 25px;
}

.produkten-btn{
  width: 178px;
}