.main-section{
  position: relative;
  min-height: 900px;
  @include bp(md){
    min-height: unset;
  }
  >img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container{
    padding-top: 122px;
    position: relative;
    z-index: 1;
    @include bp(xs){
      padding-top: 90px;
    }
  }
}

.main-wrap{
  padding: 140px 0;
  display: flex;
  align-items: center;
  @include bp(md){
    padding: 70px 0;
  }
  @include bp(xs){
    padding: 35px 0;
  }
}

.main-info{
  max-width: 590px;
}

.main-title{
  font-family: $title;
  display: block;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
  @include bp(md){
    font-size: 42px;
    line-height: 62px;
  }
  @include bp(xs){
    font-size: 28px;
    line-height: 140%;
  }
}

.main-txt{
  max-width: 465px;
  font-size: 18px;
  line-height: 163.15%;
  margin-bottom: 36px;
}

.main-btn{
  width: 187px;
}