.nf{
  padding: 108px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include bp(xs) {
    padding: 50px 0;
  }
}

.nf-block{
  width: 786px;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
  padding: 67px 50px 30px;
  text-align: center;
  @include bp(xs) {
    padding: 30px 15px 20px;
  }
  img{
    display: block;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto 46px;
  }
  span{
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #6D7D8B;
    margin-bottom: 8px;
    @include bp(xs) {
      font-size: 18px;
      line-height: 26px;
    }
  }
  p{
    font-size: 18px;
    line-height: 163.15%;
    text-align: center;
    color: #6D7D8B;
    margin-bottom: 30px;
    @include bp(xs) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  .btn{
    width: 178px;
    margin: 0 auto;
  }
}