@import 'icons';

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Regular.eot');
  src: url('../fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NunitoSans-Regular.woff') format('woff'),
  url('../fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-SemiBold.eot');
  src: url('../fonts/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NunitoSans-SemiBold.woff') format('woff'),
  url('../fonts/NunitoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Bold.eot');
  src: url('../fonts/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NunitoSans-Bold.woff') format('woff'),
  url('../fonts/NunitoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-SemiBold.woff') format('woff'),
  url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.eot');
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Bold.woff') format('woff'),
  url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}