.header {
  transition: linear 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 37px;
  z-index: 100;
  @include bp(md) {
    margin-top: 22px;
  }
  @include bp(xs) {
    margin-top: 10px;
  }
  &.fixed {
    margin-top: 10px;
  }
}

.header-main {
  background-color: $blue;
  width: 100%;
  height: 85px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  position: relative;
  @include bp(lg) {
    justify-content: space-between;
  }
  @include bp(md) {
    justify-content: flex-start;
    width: 100%;
  }
  @include bp(xs) {
    height: 64px;
    padding: 0 15px;
  }
}

.header-logo {
  width: 136px;
  height: 45px;
  @include bp(xs) {
    width: 45px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    @include bp(xs) {
      display: none;
    }
    &.logo-mobile {
      display: none;
      @include bp(xs) {
        display: block;
      }
    }
  }
}

.header-menu {
  display: flex;
  flex: 1 0 auto;
  padding-left: 110px;
  @include bp(lg) {
    padding: 0;
    justify-content: center;
  }
  @include bp(md) {
    display: none;
  }
  > li {
    > a {
      padding: 10px 15px;
      display: flex;
      font-weight: 600;
      font-size: 18px;
      line-height: 163.15%;
      color: #fff;
      text-decoration: none;
      @include bp(lg) {
        font-size: 16px;
      }
      &:hover,
      &.active {
        text-decoration: none;
        color: $gold;
      }
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  @include bp(md) {
    flex: 1 0 auto;
    justify-content: flex-end;
  }
}

.header-lang {
  position: relative;
  margin-right: 25px;
  @include bp(xs) {
    margin-right: 15px;
  }
  > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    svg {
      @include bp(xs) {
        width: 20px;
      }
    }
    span {
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      line-height: 163.15%;
      margin-left: 9px;
      text-transform: uppercase;
      @include bp(xs) {
        font-size: 16px;
        margin-left: 6px;
      }
    }
  }

  & .header-lang__list {
    position: absolute;
    top: 48px;
    right: -15px;
    left: -10px;
    display: none;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    background: $blue;
    border-radius: 6px;
    box-shadow: 0 -6px 8px 0px rgba(0, 0, 0, 0.2);

    ::before {
      position: absolute;
      content: "";
      border-bottom: 10px solid $blue;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      bottom: 100%;
      left: 15px;
      // box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
    }
  }

  &.active .header-lang__list {
    display: flex;
  }

  & li {
    width: 100%;
  }

  & a {
    display: block;
    color: #fff;
    text-align: center;
  }
}

.header-login {
  cursor: pointer;
  display: flex;
  svg {
    @include bp(xs) {
      width: 30px;
    }
  }
}

.header-login__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: linear 0.3s;
  transform: translateY(30px);
}

.header-login__menu-inner {
  display: flex;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  &.reverse {
    flex-direction: row-reverse;
  }
  > div {
    width: 50%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include bp(sm) {
      height: 180px;
    }
    @include bp(xs) {
      height: 120px;
    }
    &.header-login__menu-pic {
      border-radius: 8px;
      overflow: hidden;
      @include bp(sm) {
        width: 35%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.header-login__menu-text {
      text-align: center;
      @include bp(sm) {
        width: 65%;
      }
      span {
        display: block;
        font-size: 30px;
        line-height: 163.15%;
        color: #000;
        @include bp(xs) {
          font-size: 20px;
          line-height: 140%;
        }
      }
      .btn {
        width: 162px;
        margin: 22px auto 0;
        @include bp(xs) {
          max-width: calc(100% - 30px);
          margin-top: 15px;
        }
      }
    }
  }
}

.mobile-menu__btn {
  display: none;
  overflow: hidden;
  padding: 0;
  width: 30px;
  height: 36px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  background-color: transparent;
  border: none;
  margin-right: 15px;
  @include bp(md) {
    display: block;
  }
  span {
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    height: 3px;
    background: #fff;
    transition: background 0.3s;
    &:before {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #fff;
      content: "";
      top: -8px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
      transition-property: top, transform;
    }
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #fff;
      content: "";
      bottom: -8px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
      transition-property: top, transform;
    }
  }
  &.active {
    span {
      background: none;
      &:before {
        top: 0;
        transform: rotate(45deg);
        transition-delay: 0, 0.3s;
      }
      &:after {
        bottom: 0;
        transform: rotate(-45deg);
        transition-delay: 0, 0.3s;
      }
    }
  }
}

.mobile-menu__wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: linear 0.3s;
  transform: translateY(30px);
  padding: 45px 15px;
  background-color: #fff;
  border-radius: 8px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  line-height: 140%;
  > li {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    > a {
      text-decoration: none;
      color: $blue;
      &:hover,
      &.active {
        color: $gold;
      }
    }
  }
}
